<div class="hero-unit">
  <h1><%= @activity.title %></h1>
  <p>
    <%= image_tag @activity.icon.url(:original) %>
  </p>
  <p>
    所在区域：<%= location_helper(@activity) %>
  </p>
  <p>
    详细地址：<%= @activity.address %>
  </p>
  <p>
    活动开始时间：<%= @activity.activity_created_at %> 
  </p>
  <p>
    活动结束时间：<%= @activity.activity_ended_at %>
  </p>
  <p>
    <%= @activity.content %>
  </p>
  <p>
    <%= link_to '返回', cpanel_activities_path, class:'btn btn-primary' %>
  </p>
</div>
