		<%= render 'public/flash_notice' %>

  		<div id="module_win">
  			
  		</div>

  		<%= form_tag cpanel_users_path, method: 'get', role: 'form' do %>

        <div class="col-md-8">
  			  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "输入用户呢称或者email" %>
        </div>
  			<%= submit_tag "查找", name: nil,  class: 'btn btn-primary' %>
  		<% end -%>

    	<table id="users" class="table table-striped">
    		<thead>
				<tr>
					<th><%= check_box_tag 'checkbox_all' %></th>
					<th>Email</th>
					<th>昵称</th>
					<th>创建时间</th>
					<th>更新时间</th>
			
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
    		<% @users.each do |user| %>
    		
				<tr>
					<td><%= check_box_tag 'checkbox_name', user.id %></td>
					<td><%= user.email %></td>
					<td><%= link_to user.nickname,user_path(user) %></td>
					<td><%= format_datetime user.created_at,'%y-%m-%d %H:%M' %></td>
					<td><%= format_datetime user.updated_at,'%y-%m-%d %H:%M' %></td>
          <td>
            <%= link_to '修改', edit_cpanel_user_path(user)  %> |
						<%= link_to '删除', [:cpanel, user], confirm: '确认删除吗？', method: :delete %>
					</td>
				</tr>
			
    		<% end -%>
    		</tbody>
		</table>
		<div class="paginate-right-position">
			<%= will_paginate @users, :previous_label =>'上一页', :next_label => '下一页' %>
		</div>
