
<div class="comment-item">
	<div class="row">
		<div class="span9">
			<p><%= c.user.username %><p>
			<p><%= raw c.content %><p>

			<div class="span3">
				<div class="replies" id="comment-replies-<%= c.id %>">
					<% c.replies.each do |r| %>
						<%= render 'comments/replies', :r => r, :c => c %>
					<% end -%>
				</div>

				<% if current_user %>
					<a href="javascript:void(0)" id="<%= c.id %>" onclick="display(this)">回应</a>
				<% end -%>

				<div style="display:none" class="new-reply" id="<%= c.id %>_cell_new_reply">
					<%= render 'comments/new_reply', :item => c %>
				</div>

			</div>
			
		</div>
	</div>
	<hr>
</div>

<script>
	function display(el)
	{
		var id = $(el).attr("id");

		$("#" + id + "_cell_new_reply").toggle();
	}
</script>