
<% @comments.each do |comment| %>
	<div class="tr-item cc">
		<div class="avatar">
			<%if comment.user.icon.exists? %>
		        <%= image_tag comment.user.icon.url(:thumb) ,:alt => comment.user.nickname%>
		      <%else%>
		        <%= image_tag 'avatar.png' ,:alt => comment.user.nickname%>
		      <%end%>
		</div>
		<div class="topic-box">
			<div class="topic-info">
				<p>
					<a href="">
						<%= comment.user.nickname %>
					</a> 
					发表于：<%= timeago_tag comment.created_at, :nojs => true, :limit => 10.days.ago %>
					<%= link_to("回复", "#", 'data-login' => comment.user.nickname, :title => "回复#{comment.user.nickname}", :class => 'post-again', :onclick => "comment('#{comment.user.nickname}')") %>
				</p>
			</div>
			<div class="content">

				<p><%= raw comment.content %></p>

				
			</div>
		</div>
	</div>
<% end -%>

<script type="text/javascript">

	function comment(user_nickname)
	{
		var comment_body = $("#comment-textarea");

		var new_text = "@"+user_nickname;

		if(comment_body.val().trim().length == 0)
			new_text += "";
		else
			new_text = "\n" + new_text

		comment_body.focus().val(comment_body.val() + new_text);

	}

</script>


