
<% @comments.each do |comment| %>
	<div class="tr-item cc">
		<div class="avatar">
			<%if comment.user.icon.exists? %>
		        <%= image_tag comment.user.icon.url(:thumb) ,:alt => comment.user.nickname%>
		      <%else%>
		        <%= image_tag 'avatar.png' ,:alt => comment.user.nickname%>
		      <%end%>
		</div>
		<div class="topic-box">
			<div class="topic-info">
				<p>
					<a href="">
						<%= comment.user.nickname %>
					</a> 
					发表于：<%= timeago_tag comment.created_at, :nojs => true, :limit => 10.days.ago %>
					<%= link_to("回复", "#", 'data-login' => comment.user.nickname, :title => "回复#{comment.user.nickname}", :class => 'post-again', :onclick => "return comment('#{comment.user.id}', '#{comment.user.nickname}')") %>
				</p>
			</div>
			<div class="content">

				<p><%= raw comment.content %></p>

				
			</div>
		</div>
	</div>
<% end -%>




