
<div class="row">
	<div class="span9">
		<p><%= c.user.username %><p>
		<p><%= raw c.content %><p>
		
		<div class="span3">
			<% c.replies.each do |r| %>
				<p class="reply">
					<%= r.user.username %> : 
					<%= raw r.content %>
				<p>
			<% end -%>

			<% if current_user %>
			<a href="javascript:void(0)" id="<%= c.id %>" onclick="display(this)">回应</a>
			<% end -%>

			<div style="display:none" class="new-reply" id="<%= c.id %>_cell_new_reply">
				<%= render 'comments/new_reply', :item => c %>
			</div>

		</div>
	</div>
</div>

<hr>

<script>
	function display(el)
	{
		var id = $(el).attr("id");

		$("#" + id + "_cell_new_reply").toggle();
	}
</script>