<%= stylesheet('bootstrap','style','group','search')%>
<div id="main">
	<div  class="container">

		<%= render 'form',:form_action => @form_action%>

		<div class="following">
			<ul class="cc">
				<%@users.each do |user|%>
				<li>
					<%= image_tag 'avatar.png',:class => 'user-photo'%>
					
					<%= link_to user.nickname,user_path(user),:class => 'nickname'%>
					<p></p>
					<div class="follow-action">
						<%= render :partial => 'users/follow_unfollow',:locals  => {:user  => user} %> </div>
				</li>
				<%end%>
				
			</ul>
			
		</div>
		<%= will_paginate @users %>
	</div>
</div>