<%= stylesheet('bootstrap','style','post')%>

<div class="post-form-wrap cc">
  <h3>发表话题</h3>
    <div class="post-form">
      <%= form_for(!@topic.nil? ? @topic : [@group, @group.topics.build],:html => { :multipart => true})  do |f| %>
      <div class="control-group">
        <label for="" class="control-label">标题：</label>
        <div class="controls">
        <%= f.text_field :title,:class => 'span5' %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >内容：</label>
        <div class="controls">
          <div contenteditable="true" class="editable-box" id="content-box">

            <% if !@topic.nil? %>
              <%= raw @topic.content %>
            <% end -%>
            
          </div>
          <%= f.text_area :content,:class => "hide"%>
        </div>
      </div>
      <%= f.hidden_field :user_id,  :value => current_user.id %>
      <%= f.hidden_field :username, :value => current_user.username %>

      

      <button type="button" class="btn btn-success" id="form-post">提交</button>

      <%= link_to '返回', group_topics_path(@group), class: 'btn btn-successs' %>

      <%= link_to '分享购物', new_product_topics_path, :class => "btn", remote: true %>

      <div id="photo-ids"></div>
      <div id="product-ids"></div>
      <%end%>

      <div id="module_win">
        
      </div>

      <div id="upload-plug">
        <button id="upload-btn">xxx</button>
      </div>
    </div>

    <ul id="photo-list">
      <% unless @topic.nil? %>
        <% if @topic.photos.size > 0 %>
          <% @topic.photos.each do |photo|%>
            <li id="photo-<%= photo.id%>">
              <%=image_tag photo.pic.url(:thumb)%>
              <p>
                <%= link_to '删除',photo_path(photo),:method => :delete,:remote => true,:confirm => '是否删除？'%>
              </p>
            </li>
          <%end%>
        <%end%>
      <% end -%>
    </ul>
</div>

<script type="text/javascript">
  $('#photo-list').delegate('img','click',function(){
    var ele =  $(this)
    var img =  '<img src="' + ele.attr('src') + '"/>';
    img = img.replace('thumb','original');
    $('#content-box').insertAtCursor(img)
  })

  $('#form-post').bind('click',function(){
    $('textarea').html($('#content-box').html())
    $('form').submit();
  })

  var swfu = new SWFUpload({
      upload_url : "/photos?auth_token=<%=  cookies[:auth_token] %>",


      flash_url : "/assets/swfupload.swf",
      post_params:{"user_id":'<%=current_user.id%>'},

      button_placeholder_id : "upload-btn",
      button_image_url : "/assets/pic-btn.png",
      button_width: 82,
      button_height: 30,

      file_dialog_start_handler : UploadApp.fileDialogStart,
      file_queued_handler : UploadApp.fileQueued,
      file_queue_error_handler : UploadApp.fileQueueError,
      file_dialog_complete_handler : UploadApp.fileDialogComplete,

      upload_start_handler : UploadApp.uploadStart,
      upload_progress_handler : UploadApp.uploadProgress,
      upload_error_handler : UploadApp.uploadError,
      upload_success_handler : UploadApp.uploadSuccess,
      upload_complete_handler : UploadApp.uploadComplete,

      file_types : "*.jpg;*.jpeg;*.gif;*.png",
      file_size_limit : "5000",
      file_upload_limit: UploadApp.upload_limit,

      // custom_settings : {
      //     fileList : "file-list"
      // },
      //debug: true
  });

</script> 

