<%= stylesheet('bootstrap','style','post')%>

<div class="post-form">
  <h3>发表话题</h3>
    <%= form_for(!@topic.nil? ? @topic : [@group, @group.topics.build],:html => { :multipart => true})  do |f| %>
    <div class="control-group">
      <label for="" class="control-label">标题：</label>
      <div class="controls">
      <%= f.text_field :title,:class => 'span3' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >内容：</label>
      <div class="controls">
      <%= f.text_area :content, :class => 'span5', :rows  => 10,:cols=>20,:placeholder => '限5000字以内...' %>
      </div>
    </div>
    <%= f.hidden_field :user_id,  :value => current_user.id %>
      <%= f.hidden_field :username, :value => current_user.username %>
    <button type="submit" class="btn btn-success">提交</button>
    <%= link_to '返回', group_topics_path(@group), class: 'btn btn-successs' %>
    <%end%>
</div>