<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="topic-form comm-form">
        <h4>发表文章</h4>
        
          <%= form_for @topic, html: { multipart: true, role: 'form'} do |f| %>

            <%= render partial: 'public/model_errors', locals: { model_errors: @topic } %>

            <div class="form-group">
              <%= f.text_field :title, class: 'form-control', placeholder: '取个有意思的标题吧……'%>
            </div>
            <div class="form-group">
              <%= f.text_area :content,:cols => 30, :rows => 10,:class => 'form-control',:placeholder => '发挥下你的创作灵感……',"data-provide" => 'markdown'%>
              
            </div>
            <div class="form-group">
              <%= file_field_tag 'photo[]', multiple: "multiple", class: 'file-inputs btn btn-default', title: '上传一张精美的图片吧！' %>
              <div class="loading"></div>
              <div id="photo-list">
                <% if params[:action] == 'edit' && @topic.photos.size > 0 %>
                  <% @topic.photos.each do |photo| %>
                    <div id="new-photo-#{photo.id}">
                      <%= photo_tag_helper(photo.path, style: :small) %>
                      <%= link_to '删除', "javascript:del_photo(#{photo.id})", id: "del-#{photo.id}" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <div id="error"></div>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <%= f.submit '发表', class: 'btn btn-primary' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('.file-inputs').bootstrapFileInput();
    
  })
</script>

