<%= stylesheet('bootstrap','style','group')%>


<div id="main">
	<div  class="container">

		<div class="title-box">
			<h4>发现话题 ...</h4>
		</div>

		<div class="topic-list topics">
			<ul>
				<% @topics.each_with_index do |topic, i| %>
					<% if i%2 == 0 %>
					<li>	
					<% else %>

					<li  class="nm">
					<% end -%>	
							<h2><%= link_to topic.title, topic_path(topic) %></h2>
							<div class="content">
							
								<p><%= raw topic.content %></p>
							</div>
							<div class="topic-footer">
								<div class="user">
									<a href="">
										<% if topic.user.icon.exists? %>
								        	<%= image_tag topic.user.icon.url(:thumb) ,:alt => topic.user.nickname %>
								      	<% else %>
								        	<%= image_tag 'avatar.jpg' ,:alt => topic.user.nickname %>
								      	<% end %>
							        </a>

									<a href=""><%= topic.user.nickname %></a>
								</div>
								<div class="counter">
									<span title="浏览数" class="viewer-num">
										<i class="ico"></i>
										<span><%= topic.hit_num %></span>
									</span>
									<span title="喜欢数" class="liked-num">
										<i class="ico"></i>
										<span><%= topic.like_num %></span>
									</span>
									<span title="评论数" class="comments-num">
										<i class="ico"></i>
										<span><%= topic.comments.count %></span>
									</span></div>
								<div class="c"></div>
							</div>
						</li>
				<% end -%>

			</ul>
		</div>
	</div>
</div>