
<div class="row-fluid">
	
  	<div class="span8">
  		<div class="well">
  			<div class="row">
  				
				<% @topics.each do |topic| %>
					<h3>
						<%= link_to topic.title ,topic_path(topic)%>
					</h3>
					<p>
						作者:<%= topic.username %>
						评论:<%= topic.reply_num %>
						创建日期:<%= format_datetime topic.created_at,'%Y-%m-%d %H:%M' %>
					</p>
					<p>
						<%= raw truncate(topic.content,:length => 100) %>
					</p>
					<p class="pull-right"><%= link_to '继续阅读', topic_path(topic), :class => 'btn btn-primary'%></p>
					<hr>
				<% end -%>
  				
  			</div>
  			
  		</div>
		
		<%= will_paginate @topics, :previous_label =>'上一页', :next_label => '下一页' %>

  	</div>

  	<div class="span4">

  		<div class="well sidebar-nav">

  			
			<ul class="nav nav-list">
				<li class="nav-header">
					<%= link_to '发表新话题' ,new_group_topic_path,:class  => 'btn'%>
				</li>
				<li class="nav-header">
					<% if current_user %>
						<% if @gu %>
							<% if @gu.level != 2%>
								<%= link_to '退出小组', leave_group_path(@group), :class => 'btn' %>
							<% end -%>
						<% else %>
							<%= link_to '+加入小组', join_group_path(@group), :class => 'btn' %>
						<% end -%>
					<% end -%>
				</li>
				
				<li class="nav-header">成员列表</li>
				<% @members.each do |member| %>
					<li><%= member.username %></li>
				<% end -%>
				
			</ul>
		</div>

		

  	</div>

</div>

