<%= stylesheet('bootstrap','style','topic')%>


<div id="main">
	<div  class="container">
		<div class="comm-left">
				<div class="tr-item cc">
					<div class="avatar">
						<a href="">
						<%= image_tag 'avatar.jpg',:alt=>'wikimo',:title => 'wikimo'%>
						</a>
					</div>
					<div class="topic-box">
						<h1><%=@topic.title%></h1>
						<div class="topic-info">
							<p><a href=""><%= @topic.user.nickname %></a> 发表于：<%= timeago_tag @topic.created_at, :nojs => true, :limit => 10.days.ago %></p>
						</div>
						<div class="content">
							<%=raw @topic.content%>
						</div>
					</div>
				</div>

				<%= render 'comments/comments' %>

				<%= render 'comments/new_comment', :item => @topic %>
			</div>

			

		<div class="comm-right">
			<div class="return-group"><a href="">返回小组</a></div>
			<div class="other-topics">
				<ul>
					<li><a href="">话题标题话题标题话题标题话题标题话题标题话题标题</a>
						<p>来自 <a href="">wikimo</a></p>

					</li>
					<li><a href="">话题标题话题标题话题标题话题标题话题标题话题标题</a>
						<p>来自 <a href="">wikimo</a></p>

					</li>

					<li><a href="">话题标题话题标题话题标题话题标题话题标题话题标题</a>
						<p>来自 <a href="">wikimo</a></p>

					</li>
					<li><a href="">话题标题话题标题话题标题话题标题话题标题话题标题</a>
						<p>来自 <a href="">wikimo</a></p>

					</li>
					<li><a href="">话题标题话题标题话题标题话题标题话题标题话题标题</a>
						<p>来自 <a href="">wikimo</a></p>

					</li>
				</ul>
			</div>
		</div>	
	</div>
</div>