<div class="container">
  <div class="topic">
    <p>
      <%= user_avatar_helper(@topic.user) %>
      <%= @topic.user.nickname %>
    </p>
    <p>
      <%= raw @topic.content %>
    </p>
    <p>
      <%= timeago_tag @topic.created_at, nojs: true, limit: 10.day.ago %>
    </p>
  </div>

  <p>
    <h3>评论...</h3>
  </p>
  <div class="comments">
    <%= render partial: 'comments/comments', collection: @comments, as: :comment %>
    <%= will_paginate @comments %>
  </div>
  <div class="new-comment">
    <%= render partial: 'comments/new_comment', locals: { item: @topic } %>
  </div>
</div>

