
<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="topic">
        <h1><%= @topic.title %></h1>
        <a href="/user/<%= @topic.user.id %>" class="author">
          <span><%= @topic.user.nickname %></span>
          <span class="avatar">
            <%= user_avatar_helper(@topic.user) %>
          </span>
        </a>

        <div class="topic-info">
          <p>
            发表于: <%= timeago_tag @topic.created_at, nojs: true, limit: 10.day.ago %>
            已有<%= @topic.hit_num %> 人浏览
            <%= link_to '编辑', edit_topic_path(@topic) %>
          </p>
        </div>
        <div class="show-content">
          <p>
            <%= markdown @topic.content %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="actions">
      <div class="actions-content">
       <!--  <ul class="nav nav-pills">
          <li class="active"><a href="#comments" data-toggle="tab">评论</a></li>
        </ul> -->
        <div class="tab-content">
          <div class="tab-pane active" id="comments">
            <%= render partial: 'comments/new_comment', locals: { item: @topic } %>
            <%= render partial: 'comments/comments', collection: @comments, as: :comment %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







