

  		<div id="module_win">
  			
  		</div>

    	<table id="groups" class="table table-striped">
    		<thead>
				<tr>
					<th><%= check_box_tag 'checkbox_all' %>全选/取消</th>
					<th>组ID</th>
					<th>组名</th>
					<th>话题数</th>
					<th>成员数量</th>
					<th>创建时间</th>
					<th>最后更新时间</th>
					<th>状态</th>
					<td>操作</td>
				</tr>
			</thead>
    		<% @groups.each do |group| %>
    		<tbody>
				<tr>
					<td><%= check_box_tag 'checkbox_name', group.id %></td>
					<td><%= group.id %></td>
					<td><%= truncate group.name, length: 5 %></td>
					<td><%= group.topic_num %></td>
					<td><%= group.member_num %></td>
					<td><%= format_datetime group.created_at,'%Y-%m-%d %H:%M' %></td>
					<td><%= format_datetime group.updated_at,'%Y-%m-%d %H:%M' %></td>
					<% if group.state %>
						<td>可用</td>
					<% else %>
						<td>不可用</td>
					<% end %>
					<td>
						<%= link_to '查看', cpanel_group_path(group), remote: true %>
						<%= link_to '删除', [:cpanel, group], confirm: '确认删除吗？', method: :delete %>
						<% if group.state %>
							<%= link_to '置为不可用', change_status_cpanel_group_path(group) %>
						<% else %>
							<%= link_to '置为可用', change_status_cpanel_group_path(group) %>
						<% end %>
					</td>
				</tr>
			</tbody>
    		<% end -%>
		</table>
