<%= stylesheet('bootstrap','style','group')%>
<div id="main">
	<div  class="container">
		<table class="table table-hover">
			<tbody>
				<tr class="info"><td><h5>通知提醒<%= @notifications.size %>条</h5></td></tr>
				<% @notifications.each do |notification| %>
				
					<% if notification.is_read == false %>
						<tr class="success">
				       	<td>
				        	<span style="color:red">新</span>

				    <% else %>
				    	<tr>
				    		<td>
				    <% end %>
								<p>
									<% if notification.mention_id == nil %>
										<% if notification.user.icon.exists? %>
											<%= image_tag notification.user.icon.url(:thumb) ,:alt => notification.user.nickname%>
										<% else %>
											<%= image_tag 'avatar.png' ,:alt => notification.user.nickname %>
										<% end -%>
										<%= notification.user.nickname %> 评论了您的话题：
										<%= link_to notification.notificationable.commentable.title, "/notifications/read/#{notification.id}/0" %>
										<%= raw truncate notification.notificationable.content, length: 50 %>
										<p>提及时间：<%= timeago_tag notification.created_at, :nojs => true, :limit => 10.days.ago %></p>
										<p>
										<% if notification.is_read == false %>
											<%= link_to '已读', "/notifications/read/#{notification.id}/1" %>
										<% end %>
										<%= link_to '删除', [@user, notification], comfirm: '是否要删除该条数据', method: :delete %>
										</p>
									<% else %>
										<% if notification.notificationable.user.icon.exists? %>
											<%= image_tag notification.notificationable.user.icon.url(:thumb) ,:alt => notification.notificationable.user.nickname %>
										<% else %>
											<%= image_tag 'avatar.png' ,:alt => notification.user.nickname %>
										<% end -%>
										<%= link_to notification.notificationable.user.nickname,  notification.notificationable.user %> 在 
										<%= link_to notification.notificationable.commentable.title, "/notifications/read/#{notification.id}/0" %>提及了您:
										<%= raw truncate notification.notificationable.content, length: 50 %>
										<p>提及时间：<%= timeago_tag notification.created_at, :nojs => true, :limit => 10.days.ago %></p>
										<p>
										<% if notification.is_read == false %>
											<%= link_to '已读', "/notifications/read/#{notification.id}/1" %>
										<% end %>
										<%= link_to '删除', [@user, notification], comfirm: '是否要删除该条数据', method: :delete %>
										</p>
									<% end -%>
								
							</td>
						</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
</div>
