<%= stylesheet('bootstrap','style','group')%>
<div id="main">
	<div  class="container">
		<table class="table table-hover">
			<thead>
				<td>是否已读</td>
				<td>所属话题</td>
				<td>回复内容</td>
				<td>操作</td>
			</thead>
			<tbody>

			<% @notifications.each do |notification| %>
				
				<% if notification.is_read == false %>
					<tr class="success">
			        <td>
			        	<span style="color:red">新</span>
			        </td>
			    <% else %>
			    	<tr>
			    		<td></td>
			    <% end %>
						<td>
							<%= link_to notification.notificationable.commentable.title, "/notifications/read/#{notification.id}/0" %>
						</td>

						<td>
							<%= notification.notificationable.content %>
						</td>
						<td>
							<%= link_to '已读', "/notifications/read/#{notification.id}/1" %>
							<%= link_to '删除', [@user, notification], comfirm: '是否要删除该条数据', method: :delete %>
						</td>
					</tr>
			<% end -%>
			</tbody>
		</table>
	</div>
</div>
