<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-content msg-box">
        <div class="tab-content">
          <h3>消息提醒(<%= @notifications.size %>)</h3>
          <div class="tab-pane active" id="receive-msg">
            <ul>
              <% @notifications.each do |notification| %>
                <li>
                  <input type="checkbox"/> 
                    <%= link_to user_avatar_helper(notification.notificationable.user), notification.notificationable.user ,:class=> 'avatar',:title =>notification.notificationable.user.nickname%>
                    <%= mention_id_helper(notification.mention_id) %>
                    <%= link_to notification.notificationable.commentable.try(:title), "/notifications/read/#{notification.id}/0" %>
                    <% is_read_helper notification do %>
                      <span>New</span>
                    <% end %>
                    <cite><%= timeago_tag notification.created_at, nojs: true, limit: 10.day.ago %></cite>
                    <p>
                    <%= format_content(truncate notification.notificationable.content, length: 100) %>
                    </p>
                    
                </li>
              <% end %> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
