<%= stylesheet('bootstrap','style','group')%>
<div id="main">
	<div class="contaier">
		<div class="grp-cats">
			<span>小组分类 | </span>
			<% @categories.each do |category| %>
			<%= link_to category.name, category_groups_path(category) %>
			<% end -%>
			<%= link_to '创建小组', new_group_path, :class => 'btn btn-primary create-group' %>
		</div>

		<div class="group-list comm-box cc">
			
			<ul>
			<% @groups.each do |group| %>
				<li>
					<a href="/groups/<%= group.id%>/topics">
					<% if group.icon.exists? %>
								<%= image_tag group.icon.url(:original) %>
							<% else %>
								<%= image_tag 'no_pic.png' %>
							<% end %>	
					</a>
					<h4><%= link_to group.name,"/groups/#{group.id}/topics" %></h4>
					<p><%= truncate group.descrip, :length => 300 %></p>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>