<%= stylesheet('bootstrap','style','group')%>
<div id="main">
	<div class="contaier">
		<div class="title-box cc">
			<h4 class="fl">发现小组 ... </h4>
			<div class="grp-cats">
				<% @categories.each do |category| %>
				<%= link_to category.name, category_groups_path(category) %>
				<% end -%>
			</div>
			<%= link_to '创建小组', new_group_path, :class => 'btn btn-primary opt-btn' %>
		</div>

		

		<div class="group-list  cc mt10">
	
			<ul>
			<% @groups.each_with_index do |group,i| %>
				<%= li_css(i,3) %>
					<a href="/groups/<%= group.id%>/topics" class="grp-icon">
					<% if group.icon.exists? %>
								<%= image_tag group.icon.url(:original) %>
							<% else %>
								<%= image_tag 'no_pic.png' %>
							<% end %>	
					</a>
					<h4><%= link_to group.name,"/groups/#{group.id}/topics" %></h4>
					<p><%= truncate group.descrip, :length => 300 %></p>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>