<div id="main">
	<%= form_for @group,:html => {:class => 'form-vertical'} do |f| %>

		<%= render :partial => 'public/model_errors',:locals  => {:model_errors  => @group} %> 

		<div class="control-group">
			<%= f.label :小组名称,:class => 'control-label'%> 
			<div class="controls"><%= f.text_field :name %></div>
		</div>

		<div class="control-group">
			<%= f.label :小组所属分类,:class => 'control-label'%> 
			<div class="controls">
				<%= f.select :category_id, @categories_array %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :小组描述,:class => 'control-label' %> 
			<div class="controls"><%= f.text_area :descrip ,:cols  =>40,:rows  => 5%></div>
		</div>

		<div class="control-group">
	        <%= f.label :小组图标,:class => 'control-label'  %>  
	        <div class="controls"><%= f.file_field :icon %></div>
	    </div>

		<div class="form-actions">
		  <%= button_tag "提交",:class=>'btn btn-primary' %>
		</div> 
	<% end  %>
</div>