<div class="tab-pane active" id="password">
  <%= form_for user, html: { class: 'form form-horizontal', role: 'form' } do |f| %>
    <div class="form-group">
			<div class="col-md-5">
        <%= f.label :old_password, '原密码' %>
        <%= f.password_field :old_password, class: 'form-control col-xs-4' %>
			</div>
    </div>
	  <div class="form-group">
	  	<div class="col-md-5">
        <%= f.label :password, '新密码'%>
        <%= f.password_field :password, class: 'form-control col-xs-4' %>
			</div>
	  </div>
    <%= hidden_field_tag 'do', 'passwd' %>
    <%= f.submit '提交', class: 'btn btn-primary' %>
 <% end %>
</div>
