<div class="tab-pane active" id="profile">
  <%= form_for user, html: { class: 'form form-horizontal', role: 'form' } do |f|%>
    <div class="form-group">
      <div class="col-md-5">
        <div class="avatar">
          <%= user_avatar_helper(@user) %>
          <%= f.file_field :icon, class: 'file-inputs btn btn-default', title: '修改头像' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>昵称</label>
        <%= f.text_field :nickname, class: 'form-control col-xs-4'%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>城市</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>个性化域名</label>
             
      </div>
    </div>
    <%= f.submit '提交', class: 'btn btn-primary' %>
  <% end %>
</div>
