<div class="user-box">
	<div class="avatar">
	  <%if @user.icon.exists? %>
        <%= image_tag @user.icon.url(:thumb) ,:alt => @user.nickname%>
      <%else%>
        <%= image_tag 'avatar.png' ,:alt => @user.nickname%>
      <%end%>

	</div>
	<div class="user-info">
		<h4><%= @user.nickname%></h4>
		
		
		
		<div class="user-nav">
			<%= user_nav @user, params[:action]%>
	

		</div>
	</div>
	<div class="follow-box">
		<%= render :partial => 'follow_unfollow',:locals  => {:user  => @user} %> 
	</div>
	<div class="c"></div>
</div>