<div id="main">
  <%= form_for @user, :html => { :class => "form-vertical"} do |f| %>
    <%if flash[:notice]%>
      <div class="errors-box">
        <h4>消息提示：</h4>
        <ul>
          <li><%= flash[:notice]%></li>
        </ul>
      </div>
    <% end %>
    <div class="control-group">
      <label for="" class="control-label">用户名</label>
      <div class="controls">
        <%= f.text_field :username,:class => 'txt' %>
      </div>
    </div>
    <div class="control-group">
      <label for="" class="control-label">密码</label>
      <div class="controls">
        <%= f.password_field :password,:class => 'txt' %>
      </div>
    </div>
    <div class="control-group">
      <label for="" class="control-label">确认密码</label>
      <div class="controls">
        <%= f.password_field :password_confirmation,:class => 'txt' %>
      </div>
    </div>

    <div class="control-group">
      <label for="" class="control-label">邮箱</label>
      <div class="controls">
        <%= f.text_field :email,:class => 'txt' %>
      </div>
    </div>

    <div class="control-group">
        <label for="" class="control-label">用户头像</label>
        <div class="controls">
          <%= f.file_field :icon, :class => 'txt' %>
        </div>
    </div>
    
    <div class="form-actions">
      <%= button_tag "更新",:class=>'btn btn-primary' %>
    </div>
  <% end %>
</div>