<%= stylesheet('bootstrap','style','group','user')%>

<div class="user-container">
	<div class="user-box">
		<div class="avatar">
			<%= image_tag 'avatar.jpg' ,:alt => @user.nickname%>
		</div>
		<div class="user-info">
			<h4><%= @user.nickname%></h4>
			<%= render 'user_nav'%>
		</div>
		<div class="c"></div>
	</div>
</div>

<div id="main">
	<div  class="container">
		

		<div class="user-groups">
				<ul>
					<% @groups.each do |group|%>
					<li>
						<a href="/groups/<%= group.id%>/topics">
							<%= image_tag 'group.jpg'%>
							<h4><%= group.name%></h4>
						</a>
						<div class="comm-box-footer">
							
							

							<div class="counter">
								<span title="话题" class="viewer-num"><i class="ico"></i><span><%= group.topic_num%></span></span>
								<span title="成员" class="comments-num"><i class="ico"></i><span><%= group.member_num%></span></span>
								
								</div>
							<div class="c"></div>
						</div>
					</li>
					<% end %>
					
				</ul>
			</div>
		
	</div>
</div>