<%= stylesheet('bootstrap','style','group','user')%>

<div class="user-container">
	<%= render 'user_info'%>
</div>

<div id="main">
	<div  class="container">
		

		<div class="topic-list topics">
				<ul>
					<% @topics.each_with_index do |topic, i| %>
					<% if i%2 == 0 %>
					<li>	
					<% else %>

					<li  class="nm">
					<% end -%>	
						<h2><%= link_to topic.title,topic_path(topic)%></h2>
						<div class="content">
						
						<p>
						<%= truncate(topic.content, :length => 150, :omission => "...")%>
						</p>
						</div>
						<div class="topic-footer">
							
							

							<div class="counter">
								<span title="浏览数" class="viewer-num"><i class="ico"></i><span><%= topic.hit_num%></span></span>
								<span title="评论数" class="comments-num"><i class="ico"></i><span><%= topic.reply_num%></span></span>
								<span title="收藏数" class="liked-num"><i class="ico"></i><span>10</span></span>
								</div>
							<div class="c"></div>
						</div>
					</li>
				<%end%>	
					
				</ul>
			</div>
		
	</div>
</div>