<%= stylesheet('bootstrap','style','group')%>

<div class="reg-login-wrap">
	<div class="anony-reg cc">
		<div class="index-reg">
	        <%= link_to '加入我们',reg_path,:class => 'lnk-reg'%>
	        <b>发现小时候 ...</b>
	    </div>

	    <div class="index-login">
			<%= form_tag  sessions_path  do %>
				<div class="control-group">
					<div class="controls">
					<input type="text" class="input-medium" placeholder="邮件地址" name="email">
					<p class="help-block"> <input type="checkbox"> 记住我</p>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
					<input type="password" class="input-medium" placeholder="密码" name="password">
					<p class="help-block"> <a href="">忘记密码</a></p>
					</div>
				</div>
 
  				<button type="submit" class="btn">登录</button>
		    <% end %>
		</div>

	</div>
</div>

<div id="main">
	
	<div  class="container">

		<div class="title-box">
			<h4>正在发生 ...</h4>
		</div>
		<div class="topics">
		<%= render :partial => 'public/topics',:locals  => { :topics  => @recent_topics, :is_topics => false }%>
		</div>

		<div class="title-box">
			<h4>大家喜欢 ...</h4>
		</div>
		<div class="topics">
		<%= render :partial => 'public/topics',:locals  => { :topics  => @like_topics, :is_topics => false }%>
		</div>
	</div>
</div>