<%= stylesheet('bootstrap','style') %>

<div id="main">
	<div  class="container">
		<%= render 'public/flash_notice' %>
	
			<div class="page-box">
				<h3>意见反馈</h3>
				<% if !current_user %>
					<p>登录后可进行意见反馈，请先 <%= link_to '登录', login_path %> 或 <%= link_to '注册', reg_path %></p>
				<% else %>
					<%= form_for [Feedback.new] do |f| %>
						<div class="control-group">
							
							<div class="controls">
								<%=f.hidden_field :user_id, :id=> 'user_id', :value => current_user.id %>
								
								<%= f.text_area :content, :id => "comment-textarea", :rows => 5,:cols => 50, :class => "span5", :placeholder => "您的建议对我们很重要，限500字以内..."%>
							</div>
						</div>
						<%= f.submit '提交', :class => 'btn btn-success'%>
					<% end %>
				<% end %>
			</div>

			
		
	</div>
</div>


