<%= stylesheet('bootstrap','style','group')%>
<div id="main">
	<div  class="container">
		<ul class="nav nav-pills nav-justified">
		    <li>
		    	<%= link_to '推荐话题', recommend_topic_path %>
		    </li>
		    <li><%= link_to '关注人的动态', recommend_user_path %></li>
		    <li class="active"><%= link_to '推荐小组', recommend_group_path %></li>
	    </ul>
	    <div class="group-list  cc mt10">
		   <%= render 'public/groups', groups: @groups%>
		</div>
	</div>
	<%= will_paginate @groups, :previous_label =>'上一页', :next_label => '下一页' %>
</div>
