
<%= form_for [:cpanel, @topic], :html => {:class => 'form-vertical'} do |f| %>


  <div class="control-group">
      <%= f.label :话题标题, :class => 'control-label' %>
      <div class="controls"><%= f.text_field :title, value: @topic.title %></div>
  </div>
  <div class="control-group">
      <%= f.label :话题内容, :class => 'control-label' %>
      <div class="controls"><%= f.text_area :content, cols: 200, row: 50, value: @topic.content %></div>
  </div>

  <div class="control-group">
    <%= f.submit '提交', class: 'btn btn-primary' %>
    <%= link_to '返回', cpanel_topics_path, class: 'btn'%>
  </div>
<% end %>
