<div class="row">
  	<div class="span9">
    	<table class="table table-striped">
    		<thead>
				<tr>
					<th><%= check_box_tag 'checkbox_all' %>全选/取消</th>
					<th>话题名称</th>
					<th>发表用户</th>
					<th>查看数</th>
					<th>回复数</th>
					<th>喜欢数</th>
					<th>创建时间</th>
					<th>最后更新时间</th>
					<td>操作</td>
				</tr>
			</thead>
    		<% @topics.each do |topic| %>
    		<tbody>
				<tr>
					<td><%= check_box_tag 'checkbox_name', topic.id %></td>
					<td><%= topic.title %></td>
					<td><%= topic.username %></td>
					<td><%= topic.hit_num %></td>
					<td><%= topic.reply_num %></td>
					<td><%= topic.like_num %></td>
					<td><%= format_datetime topic.created_at,'%Y-%m-%d %H:%M' %></td>
					<td><%= format_datetime topic.updated_at,'%Y-%m-%d %H:%M' %></td>
					<td>
						<%= link_to '查看'%>
						<%= link_to '修改'%>
						<%= link_to '删除' %>
						
					</td>
				</tr>
			</tbody>
    		<% end -%>
		</table>
  	</div>
</div>