<%= stylesheet('bootstrap','style','group')%>
<div id="main">
	<div class="groups-box">
		<ul>

		<% @categories.each do |category| %>
			分类名称 —— <%= category.name %>
			<% category.groups.each do |group| %>
				<% if group.state == true %>

					<li>
						<% if group.icon.exists? %>
							<%= image_tag group.icon.url(:original) %>
						<% else %>
							<%= image_tag 'no_pic.png' %>
						<% end %>
						
						<h4><%=link_to group.name,"/groups/#{group.id}/topics"%></h4>

						<% end -%>
					</li>
			<% end -%>
		<% end -%>

		
		</ul>
		<%= link_to '申请创建小组', new_group_path %>
		
	</div>
</div>