<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="act">
        <div class="act-pic">
          <%= image_tag @activity.icon.url(:original) %>
        </div>
        <h2><%= @activity.title %></h2>
        <div class="xgs-row">
          <div class="act-info pull-left">
            <p>时间: <%= @activity.activity_created_at %></p>
            <p>地点: <%= @activity.location %></p>
            <p>对象: 0-3</p>
          </div>
          <span class="like pull-right">
            <i class="glyphicon glyphicon-heart"></i> <%= @activity.like_num %> 人喜欢
          </span>
        </div>
        <hr>
        <h3 class="act-descip">活动介绍 / DETAILS </h3> 
        <div class="act-content">
          <p>
            <%= raw @activity.content %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



