<div  class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="comm-form">
        <div class="col-sm-offset-2 col-sm-10">
          <h4>修改东西</h4>
        </div>
        <%= form_for @product, html: { multipart: true, class: 'form-horizontal', role: 'form'} do |f| %>
          <div class="form-group">
            <%= f.label :title, '东西名称', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :title, class: 'form-control', placeholder: "东西名称..." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :appraisal, '东西评价', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_area :appraisal, cols: "30", rows: "5", class: "form-control", placeholder: "写上你宝贵的使用评价吧......." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :price, "东西价格", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag '', number_to_currency(@product.price || 0.0, unit: "￥"), class: 'form-control', disable: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">东西图片</label>
            <div class="col-sm-10 good-photos">
              <ul class="good-img-list">
                <li>
                  <%= image_tag @product.img %>
                  <%= radio_button_tag :radio_img, @product.img, checked: true %> 选择封面
                  <%= link_to "", "javascript:del_photo()", id: "del-", class: "glyphicon glyphicon-remove-circle" %>
                </li>
                <% @product.photos.each do |photo| %>
                  <% if photo_choose_url_helper(photo) != @product.img %>
                  <li>
                    <%= photo_choose_helper(photo) %>
                    <%= radio_button_tag :radio_img, photo_choose_url_helper(photo) %> 选择封面
                    <%= link_to "", "javascript:del_photo(#{photo.id})", id: "del-#{photo.id}", class: "glyphicon glyphicon-remove-circle" %>
                  </li>
                  <% end %>
                <% end %>
              </ul>
              <div class="loading pull-left" style="display: none;"></div>
              <div id="photo-list"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">上传图片</label>
            <div class="col-sm-10">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "提 交", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
