<div class="home-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="comm-form">
        <div class="col-sm-offset-2 col-sm-10">
          <h4>分享东西</h4>
        </div>
        <%= form_for @product, html: { multipart: true, class: 'form-horizontal', role: 'form' } do |f| %>
          <div class="form-group">
            <%= f.label :title, '东西名称', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :title, class: 'form-control', placeholder: "东西名称……" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :appraisal, "东西评价", class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_area :appraisal, cols: "30", rows: "5", class: "form-control", placeholder: "写上你宝贵的使用评价吧……" %> 
            </div>
          </div>
          <div class="form-group">
            <%= f.label :price, "东西价格", class: "col-sm-2 control-label" %>
            <div>
              <p>
                <%= number_to_currency @product.price || 0.0, unit: "¥" %>
                <%= f.hidden_field :price, value: @product.price || 0.0 %>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">东西图片</label>
            <div class="col-sm-10 good-photos">
              <ul>
                <% @images.each_with_index do |image, i| %>
                  <li id="image_#{i}">
                    <%= link_to image_tag(image, alt: @product.title), "" %>
                    <%= hidden_field_tag 'image[]', image %>
                    <%= link_to '删除', '#', name: "del_img" %>
                  </li>
                <% end %>
              </ul>
              <div id="photo-list">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">上传图片</label> 
            <div class="col-sm-10">
              <%= file_field_tag "photo[]",multiple: "multiple" %>
              <div class="loading"></div>
            </div>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :url, value: @product.url %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "提 交", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
       </div>
    </div>
  </div>
</div>
