<div class="home-index">
  <%= render partial: 'public/errors', locals: { obj: @product } %>
  <div class="row">
    <div class="col-xs-12">
      <div class="comm-form">
        <div class="col-sm-offset-2 col-sm-10">
          <h4>分享东西</h4>
        </div>
        <%= form_for @product, html: { multipart: true, class: 'form-horizontal', role: 'form' } do |f| %>
          <div class="form-group">
            <%= f.label :title, '东西名称', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :title, class: 'form-control', placeholder: "东西名称……" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :appraisal, "东西评价", class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_area :appraisal, cols: "30", rows: "5", class: "form-control", placeholder: "写上你宝贵的使用评价吧……" %> 
            </div>
          </div>
          <div class="form-group">
            <%= f.label :price, "东西价格", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag '', number_to_currency(@product.price || 0.0, unit: "￥"), class: 'form-control', disabled: true%>
              <%= f.hidden_field :price, value: @product.price || 0.0 %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">东西图片</label>
            <div class="col-sm-10 good-photos">
              <ul class="good-img-list">
                <% @images.each_with_index do |image, i| %>
                  <li id="image_#{i}">
                    <%= link_to image_tag(image, alt: @product.title), "" %> <br/>
                    <%= radio_button_tag :radio_img, image, checked_helper(i) %> 选择封面
                    <%= hidden_field_tag 'image[]', image %>
                    <%= link_to '', 'javascript:void(0)', name: "del_img",class: 'glyphicon glyphicon-remove-circle' %>
                  </li>
                <% end %>
                <% if @photos %>
                  <% @photos.each do |photo| %>
                    <li>
                      <%= link_to photo_choose_helper(photo), "" %><br />
                      <%= radio_button_tag :radio_img, photo_choose_url_helper(photo) %> 选择封面
                      <%= link_to '', "javascript:del_photo(#{photo.id})", id: "del-#{photo.id}", class: "glyphicon glyphicon-remove-circle" %>
                      <%= hidden_field_tag 'photo_id[]', "#{photo.id}" %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <div class="loading pull-left" style="display: none;"></div>
              <div id="photo-list">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">上传图片</label> 
            <div class="col-sm-10">
               <a class="file-input-wrapper btn file-inputs btn btn-default">继续上传<%= file_field_tag "photo[]",multiple: "multiple" , class: 'file-inputs btn btn-default', title: '继续上传'%></a>
            </div>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :url, value: @product.url %>
          <%= f.hidden_field :really_id, value: @product.really_id %>
          <%= f.hidden_field :source, value: @product.source %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "提 交", id: 'submit_btn',class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
       </div>
    </div>
  </div>
</div>
