		<%= render 'public/flash_notice' %>
  			
  		<%= form_tag cpanel_products_path, method: 'get', role: 'form' do %>
        <div class="col-xs-6 col-md-4">
  			  <%= text_field_tag :search, params[:search],class: 'form-control', :placeholder => "输入商品名称" %>
        </div>
  			<%= submit_tag "查找", :name => nil,  :class => 'btn btn-primary' %>
      <% end -%>

      <hr>

      <button id="batch_del_products_btn" class="btn btn-primary">批量删除</button>

    	<table id="products" class="table table-striped">
    		<thead>
				<tr>
					<th><%= check_box_tag 'checkbox_all' %></th>
					<th>商品标题</th>
          <th>商品价格</th>
          <th>来源</th>
          <th>创建者</th>
					<th>创建时间</th>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
    		<% @products.each do |product| %>
    	
				<tr>
					<td><%= check_box_tag 'checkbox_name', product.id %></td>
					<td><%= link_to truncate(product.title,length:15),product_path(product),title: product.title ,target:'_blank'%></td>
					<td><%= product.price %></td>
   
          <td><%= link_to format_source(product),product.url %></td>
          <td>
            <%= product.user.nickname %>
          </td>
					<td><%= format_datetime product.created_at,'%y-%m-%d %H:%M' %></td>
					<td>
				
            <%= link_to '修改', edit_cpanel_product_path(product), target: '_blank' %> |
            <%= link_to '删除', [:cpanel, product], confirm: '确认删除? ', method: :delete %>
					</td>
				</tr>
			
    		<% end -%>
    		</tbody>
		</table>
		<div class="paginate-right-position">
			<%= will_paginate @products, :previous_label =>'上一页', :next_label => '下一页' %>
		</div>
