<ul>
<% groups.each_with_index do |group,i| %>
	<%= li_css(i,3) %>
		<a href="/groups/<%= group.id%>/topics" class="grp-icon">
		<% if group.icon.exists? %>
					<%= image_tag group.icon.url(:original) %>
				<% else %>
					<%= image_tag 'no_pic.png' %>
				<% end %>	
		</a>
		<h4><%= link_to group.name,group_topics_path(group) %> </h4>
		<cite><%= group.member_num %> 成员在此聚集... </cite>
		<p><%= truncate group.descrip, :length => 20 %></p>
		
	</li>
<% end %>
</ul>
