<ul>
<% groups.each_with_index do |group,i| %>
	<%= li_css(i,3) %>
		<a href="/groups/<%= group.id%>/topics" class="grp-icon">
		<% if group.icon.exists? %>
					<%= image_tag group.icon.url(:original) %>
				<% else %>
					<%= image_tag 'no_pic.png' %>
				<% end %>	
		</a>
		<h4><%= link_to group.name,group_topics_path(group) %></h4>
		<p><%= truncate group.descrip, :length => 20 %></p>
		<p>话题数:<%= group.topic_num %> | 成员数:<%= group.member_num %></p>
	</li>
<% end %>
</ul>
