<li>
  <div class="good-img">
    <%= link_to image_tag(product.try(:img), alt: ""),  product %>
    <span></span>
    <em><%= number_to_currency product.price, unit: '￥'%></em>
  </div>
  <div class="good">
    <h3><%= link_to product.title, product %></h3>
    <blockquote>
      <%= link_to user_avatar_helper(product.user), class: 'avatar', title: product.user.nickname %>
      <%= truncate product.appraisal, length: 30 %>
    </blockquote>
  </div>
</li>
