<!DOCTYPE html>
<html>
<head>
  <title><%= t(:web_title)%></title>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21627701"></script>
  <script src="http://localhost:9292/faye.js"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= timeago_script_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'public/header'%>


<%= yield %>


<%= render 'public/footer'%>
</body>
</html>
