<!DOCTYPE html>
<html>
<head>
  <title><%= t(:web_title)%></title>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <%= timeago_script_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'public/header'%>


<%= yield %>


<%= render 'public/footer'%>
</body>
</html>
